## .NET (arquivos temporários gerados na compilação)
bin/
obj/
*.user
appsettings.Development.json

## Tokens e Senhas locais (garante segurança do seu PAT)
appsettings.local.json

## Node / React (para quando formos para o front-end)
node_modules/
dist/
.vite/
*.local

## Editores e IDEs
.vs/
.vscode/
.idea/